body
{
	text-align: center;
    background: linear-gradient(to right,cyan,pink,aqua,yellowgreen);
}
p
{
	font-size: 18px;
	color: red;
}
canvas
{
	background: pink;
	border-radius: 20px;
}
.heading{
    width: 70%;    
    font-size: 25px;
    font-family: Georgia;
    margin: 20px;
}